<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged In Page</title>
</head>
<body>
    <h1>I"M YELLING BECAUSE I DIDN"T REALIZED THAT THIS EJS FILE WAS NEVER CREATED, SPENT HOURS DURING THE NIGHT LOOKING FOR THE BUG, BUGS BUNNIES STRIKE BACK</h1>
    </h1>
</body>
</html>